<div class="container">
  <div class="row">
    <div class="col-6">
      <p><h5>My Goals</h5></p>
    </div>
    <div class="col-12 text-center">
      <div class="col-md-12", style="margin-top: 250px;">
        <%= image_tag "nogoal.png", class: "img-fluid" %>
        <p><h7>You have no goals. Not going to lie, this is a bit sad.</h7></p>
      </div>
      <div class="btn" style="margin-top: 10px;">
        <%= link_to "Create a Goal",
                    { controller: "goals", action: "new" },
                    class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

